.container {
  padding: 0px 12px 2px 12px;
  border-radius: 20px;
  gap: 6px;
  display: flex;
  align-items: center;
  outline: none;

  span {
    padding-top: 2px;
  }

  .svg {
    margin-bottom: 2px;
  }
}
